http_interactions:
- request:
    method: get
    uri: https://www.marinespecies.org/rest/AphiaClassificationByAphiaID/105706
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"AphiaID":1,"rank":"Superdomain","scientificname":"Biota","child":{"AphiaID":2,"rank":"Kingdom","scientificname":"Animalia","child":{"AphiaID":1821,"rank":"Phylum","scientificname":"Chordata","child":{"AphiaID":146419,"rank":"Subphylum","scientificname":"Vertebrata","child":{"AphiaID":1828,"rank":"Superclass","scientificname":"Gnathostomata","child":{"AphiaID":11676,"rank":"Superclass","scientificname":"Pisces","child":{"AphiaID":10193,"rank":"Class","scientificname":"Elasmobranchii","child":{"AphiaID":368407,"rank":"Subclass","scientificname":"Neoselachii","child":{"AphiaID":368408,"rank":"Infraclass","scientificname":"Selachii","child":{"AphiaID":368410,"rank":"Superorder","scientificname":"Galeomorphi","child":{"AphiaID":10208,"rank":"Order","scientificname":"Orectolobiformes","child":{"AphiaID":105706,"rank":"Family","scientificname":"Rhincodontidae","child":null}}}}}}}}}}}}'
  recorded_at: 2020-05-05 18:49:19 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
