http_interactions:
- request:
    method: get
    uri: https://www.marinespecies.org/rest/AphiaRecordsByVernacular/dolphin?like=false&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"AphiaID":126846,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=126846","scientificname":"Coryphaena
        hippurus","authority":"Linnaeus, 1758","status":"accepted","unacceptreason":null,"taxonRankID":220,"rank":"Species","valid_AphiaID":126846,"valid_name":"Coryphaena
        hippurus","valid_authority":"Linnaeus, 1758","parentNameUsageID":125960,"kingdom":"Animalia","phylum":"Chordata","class":"Actinopterygii","order":"Perciformes","family":"Coryphaenidae","genus":"Coryphaena","citation":"Froese,
        R. and D. Pauly. Editors. (2020). FishBase. Coryphaena hippurus Linnaeus,
        1758. Accessed through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=126846
        on 2020-05-05","lsid":"urn:lsid:marinespecies.org:taxname:126846","isMarine":1,"isBrackish":1,"isFreshwater":0,"isTerrestrial":0,"isExtinct":null,"match_type":"exact","modified":"2008-01-15T17:27:08.177Z"}]'
  recorded_at: 2020-05-05 18:49:52 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://www.marinespecies.org/rest/AphiaRecordsByVernacular/clam?like=false&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"AphiaID":141919,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=141919","scientificname":"Mercenaria
        mercenaria","authority":"(Linnaeus, 1758)","status":"accepted","unacceptreason":null,"taxonRankID":220,"rank":"Species","valid_AphiaID":141919,"valid_name":"Mercenaria
        mercenaria","valid_authority":"(Linnaeus, 1758)","parentNameUsageID":138642,"kingdom":"Animalia","phylum":"Mollusca","class":"Bivalvia","order":"Venerida","family":"Veneridae","genus":"Mercenaria","citation":"MolluscaBase
        eds. (2020). MolluscaBase. Mercenaria mercenaria (Linnaeus, 1758). Accessed
        through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=141919
        on 2020-05-05","lsid":"urn:lsid:marinespecies.org:taxname:141919","isMarine":1,"isBrackish":null,"isFreshwater":null,"isTerrestrial":null,"isExtinct":null,"match_type":"exact","modified":"2004-12-21T15:54:05Z"},{"AphiaID":140431,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=140431","scientificname":"Mya
        truncata","authority":"Linnaeus, 1758","status":"accepted[...]
