http_interactions:
- request:
    method: get
    uri: https://www.marinespecies.org/rest/AphiaRecordByExternalID/8399?type=fishbase
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"AphiaID":278468,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=278468","scientificname":"Callorhinchus
        callorynchus","authority":"(Linnaeus, 1758)","status":"accepted","unacceptreason":null,"taxonRankID":220,"rank":"Species","valid_AphiaID":278468,"valid_name":"Callorhinchus
        callorynchus","valid_authority":"(Linnaeus, 1758)","parentNameUsageID":205766,"kingdom":"Animalia","phylum":"Chordata","class":"Holocephali","order":"Chimaeriformes","family":"Callorhinchidae","genus":"Callorhinchus","citation":"Froese,
        R. and D. Pauly. Editors. (2020). FishBase. Callorhinchus callorynchus (Linnaeus,
        1758). Accessed through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=278468
        on 2020-05-05","lsid":"urn:lsid:marinespecies.org:taxname:278468","isMarine":1,"isBrackish":0,"isFreshwater":0,"isTerrestrial":0,"isExtinct":null,"match_type":"exact","modified":"2008-01-15T17:27:08.177Z"}'
  recorded_at: 2020-05-05 18:49:38 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
