http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByVernacular/dolphin?like=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"AphiaID":367639,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=367639","scientificname":"Angaria
        delphinus","authority":"(Linnaeus, 1758)","status":"accepted","unacceptreason":null,"taxonRankID":220,"rank":"Species","valid_AphiaID":367639,"valid_name":"Angaria
        delphinus","valid_authority":"(Linnaeus, 1758)","parentNameUsageID":204420,"kingdom":"Animalia","phylum":"Mollusca","class":"Gastropoda","order":"Trochida","family":"Angariidae","genus":"Angaria","citation":"MolluscaBase
        eds. (2020). MolluscaBase. Angaria delphinus (Linnaeus, 1758). Accessed through:
        World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=367639
        on 2020-05-05","lsid":"urn:lsid:marinespecies.org:taxname:367639","isMarine":1,"isBrackish":null,"isFreshwater":null,"isTerrestrial":null,"isExtinct":null,"match_type":"like","modified":"2010-10-22T07:24:59.143Z"},{"AphiaID":413479,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=413479","scientificname":"Angariidae","authority":"Gray,
        1857","status":"accepted","unacceptreason":null,"taxonRankID":140,"rank":"Family","valid_AphiaID":413479,"valid_name":"Angariidae","valid_authority":"Gray,
        1857","parentNameUsageID":156489,"kingdom":"Animalia","phylum":"Mollusca","class":"Gastropoda","order":"Trochida","family":"Angariidae","genus":null,"citation":[...]
[...]
