http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaIDByName/Leucophaeus
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '343613'
  recorded_at: 2019-06-28 16:52:30 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaChildrenByAphiaID/343613?marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"AphiaID":344089,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=344089","scientificname":"Leucophaeus
        scoresbii","authority":"Traill, 1823","status":"accepted","unacceptreason":null,"taxonRankID":220,"rank":"Species","valid_AphiaID":344089,"valid_name":"Leucophaeus
        scoresbii","valid_authority":"Traill, 1823","parentNameUsageID":343613,"kingdom":"Animalia","phylum":"Chordata","class":"Aves","order":"Charadriiformes","family":"Laridae","genus":"Leucophaeus","citation":"WoRMS
        (2019). Leucophaeus scoresbii Traill, 1823. Accessed at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=344089
        on 2019-06-28","lsid":"urn:lsid:marinespecies.org:taxname:344089","isMarine":1,"isBrackish":null,"isFreshwater":null,"isTerrestrial":null,"isExtinct":null,"match_type":"exact","modified":"2011-04-08T06:18:06.150Z"}]'
  recorded_at: 2019-06-28 16:52:30 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
