http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaChildrenByAphiaID/105706?marine_only=false&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"AphiaID":297110,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=297110","scientificname":"Micristodus","authority":"Gill,
        1865","status":"unaccepted","unacceptreason":null,"rank":"Genus","valid_AphiaID":105749,"valid_name":"Rhincodon","valid_authority":"Smith,
        1829","kingdom":"Animalia","phylum":"Chordata","class":"Elasmobranchii","order":"Orectolobiformes","family":"Rhincodontidae","genus":"Micristodus","citation":"Froese,
        R. and D. Pauly. Editors. (2018). FishBase. Micristodus Gill, 1865. Accessed
        through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=297110
        on 2018-04-26","lsid":"urn:lsid:marinespecies.org:taxname:297110","isMarine":1,"isBrackish":null,"isFreshwater":null,"isTerrestrial":0,"isExtinct":null,"match_type":"exact","modified":"2015-04-23T08:36:08Z"},{"AphiaID":398065,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=398065","scientificname":"Rhicodon","authority":null,"status":"unaccepted","unacceptreason":"misspelling","rank":"Genus","valid_AphiaID":105749,"valid_name":"Rhincodon","valid_authority":"Smith,
        1829","kingdom":"Animalia","phylum":"Chordata","class":"Elasmobranchii","order":"Orectolobiformes","family":"Rhincodontidae","genus":"Rhicodon","citation":"Froese,
        R. and D. Pauly. E[...]
