http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaIDByName/Platanista
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '254966'
  recorded_at: 2018-05-01 21:33:27 GMT
  recorded_with: vcr/0.0.8.9534, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaIDByName/Leucophaeus
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '343613'
  recorded_at: 2018-05-01 21:33:27 GMT
  recorded_with: vcr/0.0.8.9534, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaChildrenByAphiaID/254966?marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"AphiaID":254967,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=254967","scientificname":"Platanista
        gangetica","authority":"(Lebeck, 1801)","status":"accepted","unacceptreason":null,"rank":"Species","valid_AphiaID":254967,"valid_name":"Platanista
        gangetica","valid_authority":"(Lebeck, 1801)","kingdom":"Animalia","phylum":"Chordata","class":"Mammalia","order":"Cetartiodactyla","family":"Platanistidae","genus":"Platanista","citation":"Perrin,
        W.F. (2018). World Cetacea Database. Platanista gangetica (Lebeck, 1801).
        Accessed through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=254967
        on 2018-05-01","lsid":"urn:lsid:marinespecies.org:taxname:254967","isMarine":null,"isBrackish":null,"isFreshwater":1,"isTerrestrial":null,"isExtinct":null,"match_type":"exact","modified":"2010-01-04T17:38:16Z"},{"AphiaID":254968,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=254968","scientificname":"Platanista
        minor","authority":"Owen, 1853","status":"unaccepted","unacceptreason":"synonym","rank":"Species","valid_AphiaID":254969,"valid_name":"Platanista
        gangetica minor","valid_authority":"Owen, 1853","kingdom":"Animalia","phylum":"Chordata","class":"Mammalia","order":"Cetartiodactyla","family":"Platanistidae","genus":"Platanista","citation":"Perrin,
        W.F. (2018). World Cetacea Database. Platanista minor Owen, 1853. Accessed
        through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=254968
        on 2018-05-01","lsid":"urn:lsid:marinespecies.org:taxname:254968","isMarine":null,"isBrackish":null,"isFreshwater":1,"isTerrestrial":null,"isExtinct":null,"match_type":"exact","modified":"2012-10-24T23:23:36Z"}]'
  recorded_at: 2018-05-01 21:33:27 GMT
  recorded_with: vcr/0.0.8.9534, webmockr/0.2.2.9119, crul/0.5.2
[...]
