http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaDistributionsByAphiaID/156806
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status: ~
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"locality":"North West Atlantic","locationID":"http:\/\/marineregions.org\/mrgid\/7135","higherGeography":"North
        Atlantic Ocean","higherGeographyID":"http:\/\/marineregions.org\/mrgid\/1912","recordStatus":"valid","typeStatus":null,"establishmentMeans":null,"decimalLatitude":null,"decimalLongitude":null,"qualityStatus":"unreviewed"},{"locality":"Gulf
        of Maine","locationID":"http:\/\/marineregions.org\/mrgid\/8940","higherGeography":"North
        Atlantic Ocean","higherGeographyID":"http:\/\/marineregions.org\/mrgid\/1912","recordStatus":"valid","typeStatus":null,"establishmentMeans":null,"decimalLatitude":null,"decimalLongitude":null,"qualityStatus":"unreviewed"},{"locality":"St.
        Lawrence Estuary","locationID":"http:\/\/marineregions.org\/mrgid\/23554","higherGeography":"Gulf
        of Saint Lawrence","higherGeographyID":"http:\/\/marineregions.org\/mrgid\/4290","recordStatus":"valid","typeStatus":null,"establishmentMeans":null,"decimalLatitude":null,"decimalLongitude":null,"qualityStatus":"unreviewed"},{"locality":"Gulf
        of St. Lawrence","locationID":"http:\/\/marineregions.org\/mrgid\/4290","higherGeography":"Gulf
        of Saint Lawrence","higherGeographyID":"http:\/\/marineregions.org\/mrgid\/4290","recordStatus":"valid","typeStatus":null,"establishmentMeans":null,"decimalLatitude":null,"decimalLongitude":null,"qualityStatus":"unreviewed"}]'
  recorded_at: 2018-04-26 19:18:53 GMT
  recorded_with: vcr/0.0.8.9231
[...]
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaDistributionsByAphiaID/156806
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"locality":"North West Atlantic","locationID":"http:\/\/marineregions.org\/mrgid\/7135","higherGeography":"North
        Atlantic Ocean","higherGeographyID":"http:\/\/marineregions.org\/mrgid\/1912","recordStatus":"valid","typeStatus":null,"establishmentMeans":null,"decimalLatitude":null,"decimalLongitude":null,"qualit[...]
[...]
