http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByVernacular/dolphin?like=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status: ~
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"AphiaID":231411,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=231411","scientificname":"Australophocaena
        dioptrica","authority":"(Lahille, 1912)","status":"unaccepted","unacceptreason":"synonym","rank":"Species","valid_AphiaID":254971,"valid_name":"Phocoena
        dioptrica","valid_authority":"Lahille, 1912","kingdom":"Animalia","phylum":"Chordata","class":"Mammalia","order":"Cetartiodactyla","family":"Phocoenidae","genus":"Australophocaena","citation":"Perrin,
        W.F. (2018). World Cetacea Database. Australophocaena dioptrica (Lahille,
        1912). Accessed through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=231411
        on 2018-04-26","lsid":"urn:lsid:marinespecies.org:taxname:231411","isMarine":1,"isBrackish":null,"isFreshwater":null,"isTerrestrial":null,"isExtinct":null,"match_type":"like","modified":"2009-04-09T17:27:12Z"},{"AphiaID":254976,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=254976","scientificname":"Cephalorhynchus
        commersonii","authority":"(Lac\u00e9p\u00e8de, 1804)","status":"accepted","unacceptreason":null,"rank":"Species","valid_AphiaID":254976,"valid_name":"Cephalorhynchus
        commersonii","valid_authority":"(Lac\u00e9p\u00e8de, 1804)","kingdom":"Animalia","phylum":"Chordata","class":"Mammalia","order":"Cetartiodactyla","family":"Delphinidae",[...]
[...]
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByVernacular/dolphin?like=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"AphiaID":231411,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=231411","scientificname":"Australophocaena
        dioptrica","authority":"(Lahille, 1912)","status":"unaccepted","unacceptreason":"synonym","rank":"Species","valid_AphiaID":254971,"valid_name":"Phocoena
        dioptrica","valid_authorit[...]
[...]
