http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByDate?startdate=2018-04-29T00%3A00%3A00%2B00%3A00&marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"AphiaID":324789,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=324789","scientificname":"Mitraria","authority":"M\u00fcller,
        1851","status":"unaccepted","unacceptreason":"plankton larval stage belonging
        to Oweniidae, probably Owenia","rank":"Genus","valid_AphiaID":129427,"valid_name":"Owenia","valid_authority":"Delle
        Chiaje, 1844","kingdom":"Animalia","phylum":"Annelida","class":"Polychaeta","order":"Sabellida","family":"Oweniidae","genus":"Mitraria","citation":"Read,
        G.; Fauchald, K. (Ed.) (2018). World Polychaeta database. Mitraria M\u00fcller,
        1851. Accessed through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=324789
        on 2018-05-01","lsid":"urn:lsid:marinespecies.org:taxname:324789","isMarine":1,"isBrackish":0,"isFreshwater":0,"isTerrestrial":0,"isExtinct":0,"match_type":"exact","modified":"2018-04-29T04:27:10Z"},{"AphiaID":1250412,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=1250412","scientificname":"Laeviphitus
        ziczac","authority":"Fukuda & Ekwa, 1997","status":"accepted","unacceptreason":null,"rank":"Species","valid_AphiaID":1250412,"valid_name":"Laeviphitus
        ziczac","valid_authority":"Fukuda & Ekwa, 1997","kingdom":"Animalia","phylum":"Mollusca","class":"Gastropoda","order":"Littorinimorpha","family":"Elachisinidae","genus":"Laeviphitus","ci[...]
