http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordByExternalID/85257?type=tsn
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"AphiaID":1080,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=1080","scientificname":"Copepoda","authority":"Milne
        Edwards, 1840","status":"accepted","unacceptreason":null,"taxonRankID":70,"rank":"Subclass","valid_AphiaID":1080,"valid_name":"Copepoda","valid_authority":"Milne
        Edwards, 1840","parentNameUsageID":889925,"kingdom":"Animalia","phylum":"Arthropoda","class":"Hexanauplia","order":null,"family":null,"genus":null,"citation":"WoRMS
        (2019). Copepoda. Accessed at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=1080
        on 2019-06-28","lsid":"urn:lsid:marinespecies.org:taxname:1080","isMarine":1,"isBrackish":1,"isFreshwater":1,"isTerrestrial":null,"isExtinct":null,"match_type":"exact","modified":"2016-11-30T12:36:48.403Z"}'
  recorded_at: 2019-06-28 17:14:30 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
[...]
