http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByDate?startdate=2018-04-25T00%3A00%3A00%2B00%3A00&marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"AphiaID":1249853,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=1249853","scientificname":"Fortimesus
        trispiculum","authority":"Elsner & Caurant, 2015","status":"accepted","unacceptreason":null,"rank":"Species","valid_AphiaID":1249853,"valid_name":"Fortimesus
        trispiculum","valid_authority":"Elsner & Caurant, 2015","kingdom":"Animalia","phylum":"Arthropoda","class":"Malacostraca","order":"Isopoda","family":"Ischnomesidae","genus":"Fortimesus","citation":"Boyko,
        C.B; Bruce, N.L.; Hadfield, K.A.; Merrin, K.L.; Ota, Y.; Poore, G.C.B.; Taiti,
        S.; Schotte, M. & Wilson, G.D.F. (Eds) (2008 onwards). World Marine, Freshwater
        and Terrestrial Isopod Crustaceans database. Fortimesus trispiculum Elsner
        & Caurant, 2015. Accessed through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=1249853
        on 2018-04-26","lsid":"urn:lsid:marinespecies.org:taxname:1249853","isMarine":1,"isBrackish":0,"isFreshwater":0,"isTerrestrial":0,"isExtinct":null,"match_type":"exact","modified":"2018-04-25T06:53:10Z"},{"AphiaID":1249852,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=1249852","scientificname":"Stylomesus
        malyutinae","authority":"Brandt & St\u00fcven, 2015","status":"accepted","unacceptreason":null,"rank":"Species","valid_AphiaID":1249852,"valid_name":"Stylomesus
        malyutinae","valid_authority":"Brandt & St\u00fcven, 2015","kingdom":"Animalia","phylum":"Arthropoda","class":"Malacostraca","order":"Isopoda","family":"Ischnomesidae","genus":"Stylomesus","citation":"Boyko,
        C.B; Bruce, N.L.; Hadfield, K.A.; Merrin, K.L.; Ota, Y.; Poore, G.C.B.; Taiti,
        S.; Schotte, M. & Wilson, G.D.F. (Eds) (2008 onwards). World Marine, Freshwater
        and Terrestrial Isopod Crustaceans database. Stylomesus malyutinae Brandt
        & St\u00fcven, 2015. Accessed through: World Register of Marine Species at:
        http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=1249852 on 2018-04-26","lsid":"urn:lsid:marinespecies.org:taxname:1249852","isMarine":1,"isBrackish":0,"isFreshwater":0,"isTerrestrial":0,"isExtinct":null,"match_type":"exact","modified":"2018-04-25T06:53:10Z"},{"AphiaID":1249854,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=1249854","scientificname":"Paramunna
        shornikovi","authority":"Malyutina & Ushakova, 2001","status":"unaccepted","unacceptreason":"junior
       [...]
