http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaTaxonRanksByID/220
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"taxonRankID":220,"taxonRank":"Species","AphiaID":2,"kingdom":"Animalia"},{"taxonRankID":220,"taxonRank":"Species","AphiaID":3,"kingdom":"Plantae"},{"taxonRankID":220,"taxonRank":"Species","AphiaID":4,"kingdom":"Fungi"},{"taxonRankID":220,"taxonRank":"Species","AphiaID":5,"kingdom":"Protozoa"},{"taxonRankID":220,"taxonRank":"Species","AphiaID":6,"kingdom":"Bacteria"},{"taxonRankID":220,"taxonRank":"Species","AphiaID":7,"kingdom":"Chromista"},{"taxonRankID":220,"taxonRank":"Species","AphiaID":8,"kingdom":"Archaea"},{"taxonRankID":220,"taxonRank":"Species","AphiaID":10,"kingdom":"Viruses"},{"taxonRankID":220,"taxonRank":"Species","AphiaID":12,"kingdom":"Biota
        incertae sedis"}]'
  recorded_at: 2019-06-28 16:56:54 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
