http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByVernacular/dolphin?like=false&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status: ~
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"AphiaID":126846,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=126846","scientificname":"Coryphaena
        hippurus","authority":"Linnaeus, 1758","status":"accepted","unacceptreason":null,"rank":"Species","valid_AphiaID":126846,"valid_name":"Coryphaena
        hippurus","valid_authority":"Linnaeus, 1758","kingdom":"Animalia","phylum":"Chordata","class":"Actinopterygii","order":"Perciformes","family":"Coryphaenidae","genus":"Coryphaena","citation":"Froese,
        R. and D. Pauly. Editors. (2018). FishBase. Coryphaena hippurus Linnaeus,
        1758. Accessed through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=126846
        on 2018-04-26","lsid":"urn:lsid:marinespecies.org:taxname:126846","isMarine":1,"isBrackish":1,"isFreshwater":0,"isTerrestrial":0,"isExtinct":null,"match_type":"exact","modified":"2008-01-15T18:27:08Z"}]'
  recorded_at: 2018-04-26 19:19:05 GMT
  recorded_with: vcr/0.0.8.9231
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByVernacular/clam?like=false&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status: ~
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"AphiaID":141919,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=141919","scientificname":"Mercenaria
        mercenaria","authority":"[...]
[...]
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByVernacular/dolphin?like=false&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"AphiaID":126846,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=126846","scientificname":"Coryphaena
        hippurus","authority":"Linnaeus, 1758","status":"accepted","unacceptreason":null,"rank":"Species","valid_AphiaID":126846,"valid_name":"Coryphaena
        hippurus","valid_authority":"Linnaeus, 1758","kingdom":"Animalia","phylum":"Chordata","class":"Actinopterygii","order":"Perciformes","family":"Coryphaenidae","genus":"Coryphaena","citation":"Froese,
        R. and D. Pauly. Editors. (2018). FishBase. Coryphaena hippurus Linnaeus,
        1758. Accessed through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=126846
        on 2018-04-26","lsid":"urn:lsid:marinespecies.org:taxname:126846","isMarine":1,"isBrackish":1,"isFreshwater":0,"isTerrestrial":0,"isExtinct":null,"match_type":"exact","modified":"2008-01-15T18:27:08Z"}]'
  recorded_at: 2018-04-26 19:19:05 GMT
  recorded_with: vcr/0.0.8.9231
[...]
