http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByDate?startdate=2019-01-02T00%3A00%3A00%2B00%3A00&marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"AphiaID":1318166,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=1318166","scientificname":"Reophax
        pyriloculus","authority":"Hj\u00e1lmarsd\u00f3ttir, Nakrem & Nagy, 2018","status":"accepted","unacceptreason":null,"rank":"Species","valid_AphiaID":1318166,"valid_name":"Reophax
        pyriloculus","valid_authority":"Hj\u00e1lmarsd\u00f3ttir, Nakrem & Nagy, 2018","kingdom":"Chromista","phylum":"Foraminifera","class":"Globothalamea","order":"Lituolida","family":"Reophacidae","genus":"Reophax","citation":"Hayward,
        B.W.; Le Coze, F.; Gross, O. (2019). World Foraminifera Database. Reophax
        pyriloculus Hj\u00e1lmarsd\u00f3ttir, Nakrem & Nagy, 2018&nbsp;&#8224;. Accessed
        through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=1318166
        on 2019-01-03","lsid":"urn:lsid:marinespecies.org:taxname:1318166","isMarine":1,"isBrackish":null,"isFreshwater":null,"isTerrestrial":null,"isExtinct":1,"match_type":"exact","modified":"2019-01-02T00:52:40.143Z"},{"AphiaID":1318169,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=1318169","scientificname":"Ammobaculites
        deflectus","authority":"Hj\u00e1lmarsd\u00f3ttir, Nakrem & Nagy, 2018","status":"accepted","unacceptreason":null,"rank":"Species","valid_AphiaID":1318169,"valid_name":"Ammobaculites
        deflectus","valid_authority":"Hj\u00e1lmarsd\u00f3ttir, Nakrem & Nagy, 2018","kingdom":"Chromista","phylum":"Foraminifera","class":"Globothalamea","o[...]
