http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByTaxonRankID/180?belongsTo=106776&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"AphiaID":391206,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=391206","scientificname":"Acanthanas","authority":"Anker,
        Poddoubtchenko & Jeng, 2006","status":"accepted","unacceptreason":null,"taxonRankID":180,"rank":"Genus","valid_AphiaID":391206,"valid_name":"Acanthanas","valid_authority":"Anker,
        Poddoubtchenko & Jeng, 2006","parentNameUsageID":106776,"kingdom":"Animalia","phylum":"Arthropoda","class":"Malacostraca","order":"Decapoda","family":"Alpheidae","genus":"Acanthanas","citation":"WoRMS
        (2019). Acanthanas Anker, Poddoubtchenko & Jeng, 2006. Accessed at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=391206
        on 2019-06-14","lsid":"urn:lsid:marinespecies.org:taxname:391206","isMarine":null,"isBrackish":null,"isFreshwater":null,"isTerrestrial":null,"isExtinct":null,"match_type":"exact","modified":"2011-11-18T10:08:41.667Z"},{"AphiaID":588734,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=588734","scientificname":"Alphaeus","authority":null,"status":"unaccepted","unacceptreason":null,"taxonRankID":180,"rank":"Genus","valid_AphiaID":106978,"valid_name":"Alpheus","valid_authority":"Fabricius,
        1798","parentNameUsageID":106776,"kingdom":"Animalia","phylum":"Arthropoda","class":"Malacostraca","order":"Decapoda","family":"Alpheidae","genus":"Alphaeus","citation":"WoRMS[...]
