http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByNames?like=true&marine_only=true&scientificnames%5B%5D=Coryphaena%20im
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[[{"AphiaID":302815,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=302815","scientificname":"Coryphaena
        immaculata","authority":"Agassiz, 1831","status":"unaccepted","unacceptreason":null,"taxonRankID":220,"rank":"Species","valid_AphiaID":126846,"valid_name":"Coryphaena
        hippurus","valid_authority":"Linnaeus, 1758","parentNameUsageID":125960,"kingdom":"Animalia","phylum":"Chordata","class":"Actinopterygii","order":"Perciformes","family":"Coryphaenidae","genus":"Coryphaena","citation":"Froese,
        R. and D. Pauly. Editors. (2019). FishBase. Coryphaena immaculata Agassiz,
        1831. Accessed through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=302815
        on 2019-06-28","lsid":"urn:lsid:marinespecies.org:taxname:302815","isMarine":1,"isBrackish":1,"isFreshwater":0,"isTerrestrial":null,"isExtinct":null,"match_type":"like","modified":"2008-02-28T13:41:07.550Z"},{"AphiaID":302816,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=302816","scientificname":"Coryphaena
        imperialis","authority":"Rafinesque, 1810","status":"unaccepted","unacceptreason":null,"taxonRankID":220,"rank":"Species","valid_AphiaID":126846,"valid_name":"Coryphaena
        hippurus","valid_authority":"Linnaeus, 1758","parentNameUsageID":125960,"kingdom":"Animalia","phylum":"Chordata","class":"Actinopterygii","order":"Perciformes","family":"Coryphaenidae","genus":"Coryphaena","citation":"Froese,
        R. and D. Pauly. Editors. (2019). FishBase. Coryphaena imperialis Rafinesque,
        1810. Accessed through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=302816
        on 2019-06-28","lsid":"urn:lsid:marinespecies.org:taxname:302816","isMarine":1,"isBrackish":1,"isFreshwater":0,"isTerrestrial":null,"isExtinct":null,"match_type":"like","modified":"2008-02-28T13:41:07.550Z"}]]'
  recorded_at: 2019-06-28 17:22:11 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
