http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaSourcesByAphiaID/105706
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status: ~
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"source_id":81,"use":"additional source","reference":"Eschmeyer,
        W. N.; Fricke, R.; van der Laan, R. (eds). (2017). Catalog of Fishes: Genera,
        Species, References. Electronic version.","page":null,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=sourcedetails&id=81","link":"http:\/\/researcharchive.calacademy.org\/research\/Ichthyology\/catalog\/fishcatmain.asp","fulltext":null,"doi":null},{"source_id":1411,"use":"basis
        of record","reference":"van der Land, J.; Costello, M.J.; Zavodnik, D.; Santos,
        R.S.; Porteiro, F.M.; Bailly, N.; Eschmeyer, W.N.; Froese, R. (2001). Pisces,
        in: Costello, M.J. et al. (Ed.) (2001). European register of marine species:
        a check-list of the marine species in Europe and a bibliography of guides
        to their identification. Collection Patrimoines Naturels, 50: pp. 357-374","page":null,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=sourcedetails&id=1411","link":null,"fulltext":null,"doi":null},{"source_id":138597,"use":"additional
        source","reference":"Compagno, L.J.V. (2001). Sharks of the world. An annotated
        and illustrated catalogue of shark species known to date. Volume 2. Bullhead,
        mackerel and carpet sharks (Heterodontiformes, Lamniformes and Orectolobiformes).
        FAO Species Catalogue for Fishery Purposes. No. 1, Vol. 2. Rome, FAO. 269p.","page":null,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=sourcedetails&id=138597","link":null,"fulltext":null,"doi":null},{"source_id":197116,"use":"taxonomy
        source","reference":"Van Der Laan, R.; Eschmeyer, W. N.; Fricke, R. (2014).
        Family-group names of Recent fishes. Zootaxa. 3882(1): 1-230.","page":null,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=sourcedetails&id=197116","link":null,"fulltext":null,"doi":"10.11646\/zootaxa.3882.1.1"}]'
  recorded_at: 2018-05-01 21:33:53 GMT
  recorded_with: vcr/0.0.8.9534, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaSourcesByAphiaID/126436
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status: ~
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"source_id":1,"use":"additional source","reference":"Hayward, P.J.;
        Ryland, J.S. (Ed.). (1990). The marine fauna of the British Isles and North-West
        Europe: 1. Introduction and protozoans to arthropods. Clarendon Press: Oxford,
        UK. ISBN 0-19-857356-1. 627 pp.","page":"252","url":"http:\/\/www.marinespecies.org\/aphia.php?p=sourcedetails&id=1","link":null,"fulltext":null,"doi":null},{"source_id":8,"use":"original
        description","reference":"Linnaeus, C. (1758). Systema Naturae per regna tria
        naturae, secundum classes, ordines, genera, species, cum characteribus, differentiis,
        synonymis, locis. Editio decima, reformata. [...]
[...]
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaSourcesByAphiaID/105706
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"source_id":81,"use":"additional source","reference":"Eschmeyer,
        W. N.; Fricke, R.; van der Laan, R. (eds). (2017). Catalog of Fishes: Genera,
        Species, References. Electronic version.","page":null,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=sourcedetails&id=81","link":"http:\/\/researcharchive.ca[...]
[...]
