http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaSynonymsByAphiaID/105706
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status: ~
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"AphiaID":148832,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=148832","scientificname":"Rhiniodontidae","authority":"M\u00fcller
        & Henle, 1839","status":"unaccepted","unacceptreason":"synonym","rank":"Family","valid_AphiaID":105706,"valid_name":"Rhincodontidae","valid_authority":"M\u00fcller
        & Henle, 1841","kingdom":"Animalia","phylum":"Chordata","class":"Elasmobranchii","order":"Orectolobiformes","family":"Rhiniodontidae","genus":null,"citation":"WoRMS
        (2018). Rhiniodontidae M\u00fcller & Henle, 1839. Accessed at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=148832
        on 2018-04-26","lsid":"urn:lsid:marinespecies.org:taxname:148832","isMarine":null,"isBrackish":null,"isFreshwater":null,"isTerrestrial":null,"isExtinct":null,"match_type":"exact","modified":"2015-04-17T11:08:32Z"}]'
  recorded_at: 2018-04-26 19:19:15 GMT
  recorded_with: vcr/0.0.8.9231
[...]
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaSynonymsByAphiaID/105706
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"AphiaID":148832,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=148832","scientificname":"Rhiniodontidae","authority":"M\u00fcller
        & Henle, 1839","status":"unaccepted","unacceptreason":"synonym","rank":"Family","valid_AphiaID":105706,"valid_name":"Rhincodontidae","valid_authority":"M\u00fcller
        & Henle, 1841","kingdom":"Animalia","phylum":"Chordata","class":"Elasmobranchii","order":"Orectolobiformes","family":"Rhiniodontidae","genus":null,"citation":"WoRMS
        (2018). Rhiniodontidae M\u00fcller & Henle, 1839. Accessed at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=148832
        on 2018-04-26","lsid":"urn:lsid:marinespecies.org:taxname:148832","isMarine":null,"isBrackish":null,"isFreshwater":null,"isTerrestrial":null,"isExtinct":null,"match_type":"exact","modified":"2015-04-17T11:08:32Z"}]'
  recorded_at: 2018-04-26 19:19:15 GMT
  recorded_with: vcr/0.0.8.9231
[...]
